<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Bookmark</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="breadcrumb-item active">Bookmark</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button data-toggle="modal" data-target="#bookmarkModel" type="button" class="btn btn-block btn-info btn-xs card-title bg-navy" style="width: 120px;">New Bookmark</button>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 40px;" class="text-center">SL #</th>
                                        <th>Web Site Name</th>
                                        <th>Web Site Url</th>
                                        <th style="width: 40px;" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of itemList; let ndx = index">
                                        <td class="text-center">{{ndx + 1}}</td>
                                        <td>{{item.siteName}}</td>
                                        <td><a [href]="item.bookmarkUrl" target="_blank">{{item.bookmarkUrl}}</a></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <div class="dropdown">
                                                    <a class="btn btn-info btn-xs bg-navy dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                                                        Action
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                        <li><a class="dropdown-item" (click)="pupulateForm(item)" data-toggle="modal" data-target="#bookmarkModel">Edit</a></li>
                                                        <li><a class="dropdown-item" (click)="onDelete(item.bookmarkId)">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>


</div>
<div class="modal fade" id="bookmarkModel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h4 class="modal-title">Bookmark</h4>
                <button type="button" class="close text-white" #closebutton data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearForm()">×</span>
                </button>
            </div>
            <form [formGroup]="bookmarkForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <input type="hidden" formControlName="bookmarkId">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Web Site Name</label>
                                <input type="text" class="form-control" formControlName="siteName">
                                <div *ngIf="siteName?.invalid &&  formSubmitAttempt || siteName?.invalid &&  (siteName?.dirty || siteName?.touched)">
                                    <span *ngIf="siteName?.hasError('required')" class="error invalid-message text-danger">Please enter web site name.
                                    </span>
                                    <span *ngIf="siteName?.hasError('maxlength')" class="error invalid-message text-danger">Web site name can contain at most 50 Characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>URL</label>
                                <input type="text" class="form-control" formControlName="bookmarkUrl">
                                <div *ngIf="bookmarkUrl?.invalid &&  formSubmitAttempt || bookmarkUrl?.invalid &&  (bookmarkUrl?.dirty || bookmarkUrl?.touched)">
                                    <span *ngIf="bookmarkUrl?.hasError('required')" class="error invalid-message text-danger">Please enter a web site url.
                                    </span>
                                    <span *ngIf="bookmarkUrl?.hasError('maxlength')" class="error invalid-message text-danger">web site url Can contain at most 100 Characters</span>
                                    <span *ngIf="bookmarkUrl?.hasError('pattern')" class="error invalid-message text-danger">Insert a valid website url. Ex:https://example.com or www.example.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearForm()">Close</button>
                    <button type="submit" class="btn btn-primary bg-navy"> Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>